Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/documentdb/main.tf
  infrastructure/terraform/modules/documentdb/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/documentdb/outputs.tf
  infrastructure/terraform/modules/documentdb/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/documentdb/variables.tf
  infrastructure/terraform/modules/documentdb/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/opensearch/main.tf
  infrastructure/terraform/modules/opensearch/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/opensearch/outputs.tf
  infrastructure/terraform/modules/opensearch/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/opensearch/variables.tf
  infrastructure/terraform/modules/opensearch/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/src/android/.gitignore
  src/android/.gitignore
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/README.md
  src/android/README.md
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/app.json
  src/android/app.json
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/babel.config.js
  src/android/babel.config.js
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/index.js
  src/android/index.js
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/metro.config.js
  src/android/metro.config.js
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/package.json
  src/android/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/android/tsconfig.json
  src/android/tsconfig.json
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/__tests__/setup.ts
  src/android/__tests__/setup.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/android/__tests__/components/auth/LoginForm.test.tsx
  src/android/__tests__/components/auth/LoginForm.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/android/__tests__/components/common/Button.test.tsx
  src/android/__tests__/components/common/Button.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/android/__tests__/hooks/useAuth.test.ts
  src/android/__tests__/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/android/__tests__/utils/validation.test.ts
  src/android/__tests__/utils/validation.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/android/android/build.gradle
  src/android/android/build.gradle
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/gradle.properties
  src/android/android/gradle.properties
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/settings.gradle
  src/android/android/settings.gradle
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/build.gradle
  src/android/android/app/build.gradle
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/src/main/AndroidManifest.xml
  src/android/android/app/src/main/AndroidManifest.xml
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/src/main/java/com/aitalentmarketplace/MainActivity.java
  src/android/android/app/src/main/java/com/aitalentmarketplace/MainActivity.java
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/src/main/java/com/aitalentmarketplace/MainApplication.java
  src/android/android/app/src/main/java/com/aitalentmarketplace/MainApplication.java
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/src/main/java/com/aitalentmarketplace/modules/BiometricModule.java
  src/android/android/app/src/main/java/com/aitalentmarketplace/modules/BiometricModule.java
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/android/app/src/main/java/com/aitalentmarketplace/modules/NotificationModule.java
  src/android/android/app/src/main/java/com/aitalentmarketplace/modules/NotificationModule.java
Owners: @mobile-team, @android-developers
