Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

Add public-samples/marketplace-8l5lv5/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/workflows/mobile.yml
  .github/workflows/mobile.yml
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @project-lead

Add public-samples/marketplace-8l5lv5/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @devops-team, @monitoring-team

Add public-samples/marketplace-8l5lv5/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/scripts/init-vault.sh
  infrastructure/scripts/init-vault.sh
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/security/vault/config.hcl
  infrastructure/security/vault/config.hcl
Owners: @security-team

Add public-samples/marketplace-8l5lv5/infrastructure/security/waf/rules.yml
  infrastructure/security/waf/rules.yml
Owners: @security-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @infrastructure-team

Add public-samples/marketplace-8l5lv5/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @devops-team, @infrastructure-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team
