Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/date.ts
  src/ios/src/utils/date.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/dimensions.ts
  src/ios/src/utils/dimensions.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/format.ts
  src/ios/src/utils/format.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/keychain.ts
  src/ios/src/utils/keychain.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/permissions.ts
  src/ios/src/utils/permissions.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/responsive.ts
  src/ios/src/utils/responsive.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/utils/validation.ts
  src/ios/src/utils/validation.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/package.json
  src/web/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/__tests__/components/auth/LoginForm.test.tsx
  src/web/__tests__/components/auth/LoginForm.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/web/__tests__/components/common/Button.test.tsx
  src/web/__tests__/components/common/Button.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/web/__tests__/hooks/useAuth.test.ts
  src/web/__tests__/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/web/__tests__/utils/validation.test.ts
  src/web/__tests__/utils/validation.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/cypress/e2e/auth.cy.ts
  src/web/cypress/e2e/auth.cy.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/cypress/e2e/jobs.cy.ts
  src/web/cypress/e2e/jobs.cy.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/cypress/e2e/profile.cy.ts
  src/web/cypress/e2e/profile.cy.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/error.tsx
  src/web/src/app/error.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/loading.tsx
  src/web/src/app/loading.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/not-found.tsx
  src/web/src/app/not-found.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/page.tsx
  src/web/src/app/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(auth)/forgot-password/page.tsx
  src/web/src/app/(auth)/forgot-password/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(auth)/login/page.tsx
  src/web/src/app/(auth)/login/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(auth)/register/page.tsx
  src/web/src/app/(auth)/register/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(auth)/reset-password/page.tsx
  src/web/src/app/(auth)/reset-password/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/layout.tsx
  src/web/src/app/(dashboard)/layout.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/page.tsx
  src/web/src/app/(dashboard)/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/contracts/page.tsx
  src/web/src/app/(dashboard)/contracts/page.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team
