Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/contracts/[id]/page.tsx
  src/web/src/app/(dashboard)/contracts/[id]/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/jobs/page.tsx
  src/web/src/app/(dashboard)/jobs/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/jobs/[id]/page.tsx
  src/web/src/app/(dashboard)/jobs/[id]/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/jobs/create/page.tsx
  src/web/src/app/(dashboard)/jobs/create/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/messages/page.tsx
  src/web/src/app/(dashboard)/messages/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/messages/[id]/page.tsx
  src/web/src/app/(dashboard)/messages/[id]/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/profile/page.tsx
  src/web/src/app/(dashboard)/profile/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/profile/edit/page.tsx
  src/web/src/app/(dashboard)/profile/edit/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/workspace/page.tsx
  src/web/src/app/(dashboard)/workspace/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/app/(dashboard)/workspace/[id]/page.tsx
  src/web/src/app/(dashboard)/workspace/[id]/page.tsx
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @auth-team, @security-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/auth/PasswordResetForm.tsx
  src/web/src/components/auth/PasswordResetForm.tsx
Owners: @auth-team, @security-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @auth-team, @security-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Select.tsx
  src/web/src/components/common/Select.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Spinner.tsx
  src/web/src/components/common/Spinner.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/common/Toast.tsx
  src/web/src/components/common/Toast.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/dashboard/Notifications.tsx
  src/web/src/components/dashboard/Notifications.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/dashboard/RecentActivity.tsx
  src/web/src/components/dashboard/RecentActivity.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/dashboard/Stats.tsx
  src/web/src/components/dashboard/Stats.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/jobs/JobCard.tsx
  src/web/src/components/jobs/JobCard.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/jobs/JobFilters.tsx
  src/web/src/components/jobs/JobFilters.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/jobs/JobForm.tsx
  src/web/src/components/jobs/JobForm.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/jobs/JobList.tsx
  src/web/src/components/jobs/JobList.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/jobs/ProposalForm.tsx
  src/web/src/components/jobs/ProposalForm.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/layout/Footer.tsx
  src/web/src/components/layout/Footer.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/layout/Navigation.tsx
  src/web/src/components/layout/Navigation.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/layout/Sidebar.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/messages/ChatWindow.tsx
  src/web/src/components/messages/ChatWindow.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/messages/MessageInput.tsx
  src/web/src/components/messages/MessageInput.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/messages/MessageList.tsx
  src/web/src/components/messages/MessageList.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/profile/PortfolioSection.tsx
  src/web/src/components/profile/PortfolioSection.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/profile/ProfileCard.tsx
  src/web/src/components/profile/ProfileCard.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/profile/SkillsList.tsx
  src/web/src/components/profile/SkillsList.tsx
Owners: @frontend-team, @ui-component-team
