Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/tests/test_recommendations.py
  src/backend/ai-service/tests/test_recommendations.py
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/index.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/middleware/auth.ts
  src/backend/api-gateway/src/middleware/auth.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/middleware/rateLimit.ts
  src/backend/api-gateway/src/middleware/rateLimit.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/middleware/validation.ts
  src/backend/api-gateway/src/middleware/validation.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/routes/proxy.ts
  src/backend/api-gateway/src/routes/proxy.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/api-gateway/test/unit/middleware.test.ts
  src/backend/api-gateway/test/unit/middleware.test.ts
Owners: @backend-team, @api-gateway-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/Dockerfile
  src/backend/collaboration-service/Dockerfile
Owners: @devops-team, @containerization-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/pyproject.toml
  src/backend/collaboration-service/pyproject.toml
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/config.py
  src/backend/collaboration-service/src/config.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/main.py
  src/backend/collaboration-service/src/main.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/api/routes.py
  src/backend/collaboration-service/src/api/routes.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/api/websocket.py
  src/backend/collaboration-service/src/api/websocket.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/models/notebook.py
  src/backend/collaboration-service/src/models/notebook.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/models/workspace.py
  src/backend/collaboration-service/src/models/workspace.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/services/jupyter_service.py
  src/backend/collaboration-service/src/services/jupyter_service.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/services/workspace_service.py
  src/backend/collaboration-service/src/services/workspace_service.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/src/utils/file_manager.py
  src/backend/collaboration-service/src/utils/file_manager.py
Owners: @backend-team, @collaboration-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/tests/test_jupyter.py
  src/backend/collaboration-service/tests/test_jupyter.py
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/collaboration-service/tests/test_workspace.py
  src/backend/collaboration-service/tests/test_workspace.py
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/db/migrations/00001_init.sql
  src/backend/db/migrations/00001_init.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/db/migrations/00002_users.sql
  src/backend/db/migrations/00002_users.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/db/migrations/00003_jobs.sql
  src/backend/db/migrations/00003_jobs.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/db/migrations/00004_payments.sql
  src/backend/db/migrations/00004_payments.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/db/seeds/development.sql
  src/backend/db/seeds/development.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/db/seeds/test.sql
  src/backend/db/seeds/test.sql
Owners: @backend-team, @db-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/Dockerfile
  src/backend/job-service/Dockerfile
Owners: @devops-team, @containerization-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/pyproject.toml
  src/backend/job-service/pyproject.toml
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/config.py
  src/backend/job-service/src/config.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/main.py
  src/backend/job-service/src/main.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/api/dependencies.py
  src/backend/job-service/src/api/dependencies.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/api/routes.py
  src/backend/job-service/src/api/routes.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/models/job.py
  src/backend/job-service/src/models/job.py
Owners: @backend-team, @job-service-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team
