Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/tsconfig.json
  src/backend/user-service/tsconfig.json
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/app.ts
  src/backend/user-service/src/app.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/index.ts
  src/backend/user-service/src/index.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/config/index.ts
  src/backend/user-service/src/config/index.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/controllers/profile.controller.ts
  src/backend/user-service/src/controllers/profile.controller.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/controllers/user.controller.ts
  src/backend/user-service/src/controllers/user.controller.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/models/profile.model.ts
  src/backend/user-service/src/models/profile.model.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/models/user.model.ts
  src/backend/user-service/src/models/user.model.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/routes/profile.routes.ts
  src/backend/user-service/src/routes/profile.routes.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/routes/user.routes.ts
  src/backend/user-service/src/routes/user.routes.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/services/auth.service.ts
  src/backend/user-service/src/services/auth.service.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/services/user.service.ts
  src/backend/user-service/src/services/user.service.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/src/utils/password.ts
  src/backend/user-service/src/utils/password.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/test/integration/user.test.ts
  src/backend/user-service/test/integration/user.test.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/test/unit/auth.test.ts
  src/backend/user-service/test/unit/auth.test.ts
Owners: @backend-team, @user-service-team

Add public-samples/marketplace-8l5lv5/src/ios/.gitignore
  src/ios/.gitignore
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/Gemfile
  src/ios/Gemfile
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/README.md
  src/ios/README.md
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/app.json
  src/ios/app.json
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/babel.config.js
  src/ios/babel.config.js
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/index.js
  src/ios/index.js
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/metro.config.js
  src/ios/metro.config.js
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/package.json
  src/ios/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/ios/tsconfig.json
  src/ios/tsconfig.json
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/__tests__/setup.ts
  src/ios/__tests__/setup.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/__tests__/components/auth/LoginForm.test.tsx
  src/ios/__tests__/components/auth/LoginForm.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/__tests__/components/common/Button.test.tsx
  src/ios/__tests__/components/common/Button.test.tsx
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/__tests__/hooks/useAuth.test.ts
  src/ios/__tests__/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/__tests__/utils/validation.test.ts
  src/ios/__tests__/utils/validation.test.ts
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/ios/e2e/auth.e2e.ts
  src/ios/e2e/auth.e2e.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/e2e/jobs.e2e.ts
  src/ios/e2e/jobs.e2e.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/e2e/profile.e2e.ts
  src/ios/e2e/profile.e2e.ts
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/AppDelegate.h
  src/ios/ios/AITalentMarketplace/AppDelegate.h
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/AppDelegate.mm
  src/ios/ios/AITalentMarketplace/AppDelegate.mm
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/Info.plist
  src/ios/ios/AITalentMarketplace/Info.plist
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/main.m
  src/ios/ios/AITalentMarketplace/main.m
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/Images.xcassets/Contents.json
  src/ios/ios/AITalentMarketplace/Images.xcassets/Contents.json
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/ios/AITalentMarketplace/Images.xcassets/AppIcon.appiconset/Contents.json
  src/ios/ios/AITalentMarketplace/Images.xcassets/AppIcon.appiconset/Contents.json
Owners: @mobile-team, @ios-developers

Add public-samples/marketplace-8l5lv5/src/ios/src/components/auth/BiometricPrompt.tsx
  src/ios/src/components/auth/BiometricPrompt.tsx
Owners: @auth-team, @security-team

Add public-samples/marketplace-8l5lv5/src/ios/src/components/auth/LoginForm.tsx
  src/ios/src/components/auth/LoginForm.tsx
Owners: @auth-team, @security-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team
