Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/models/proposal.py
  src/backend/job-service/src/models/proposal.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/services/job_service.py
  src/backend/job-service/src/services/job_service.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/services/matching_service.py
  src/backend/job-service/src/services/matching_service.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/src/utils/ai_matching.py
  src/backend/job-service/src/utils/ai_matching.py
Owners: @backend-team, @job-service-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/tests/test_job_service.py
  src/backend/job-service/tests/test_job_service.py
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/job-service/tests/test_matching.py
  src/backend/job-service/tests/test_matching.py
Owners: @qa-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/ai-service.yaml
  src/backend/k8s/ai-service.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/collaboration-service.yaml
  src/backend/k8s/collaboration-service.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/elasticsearch.yaml
  src/backend/k8s/elasticsearch.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/job-service.yaml
  src/backend/k8s/job-service.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/mongodb.yaml
  src/backend/k8s/mongodb.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/payment-service.yaml
  src/backend/k8s/payment-service.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/postgres.yaml
  src/backend/k8s/postgres.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/redis.yaml
  src/backend/k8s/redis.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/k8s/user-service.yaml
  src/backend/k8s/user-service.yaml
Owners: @devops-team, @kubernetes-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/package.json
  src/backend/payment-service/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/tsconfig.json
  src/backend/payment-service/tsconfig.json
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/app.ts
  src/backend/payment-service/src/app.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/index.ts
  src/backend/payment-service/src/index.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/config/index.ts
  src/backend/payment-service/src/config/index.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/controllers/payment.controller.ts
  src/backend/payment-service/src/controllers/payment.controller.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/models/payment.model.ts
  src/backend/payment-service/src/models/payment.model.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/models/transaction.model.ts
  src/backend/payment-service/src/models/transaction.model.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/routes/payment.routes.ts
  src/backend/payment-service/src/routes/payment.routes.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/services/escrow.service.ts
  src/backend/payment-service/src/services/escrow.service.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/src/services/stripe.service.ts
  src/backend/payment-service/src/services/stripe.service.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/test/integration/payment.test.ts
  src/backend/payment-service/test/integration/payment.test.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/payment-service/test/unit/stripe.test.ts
  src/backend/payment-service/test/unit/stripe.test.ts
Owners: @backend-team, @payment-service-team, @security-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/package.json
  src/backend/shared/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/tsconfig.json
  src/backend/shared/tsconfig.json
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/constants/index.ts
  src/backend/shared/src/constants/index.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/types/index.ts
  src/backend/shared/src/types/index.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/types/job.types.ts
  src/backend/shared/src/types/job.types.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/types/payment.types.ts
  src/backend/shared/src/types/payment.types.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/types/user.types.ts
  src/backend/shared/src/types/user.types.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/utils/dates.ts
  src/backend/shared/src/utils/dates.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/utils/errors.ts
  src/backend/shared/src/utils/errors.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/shared/src/utils/validation.ts
  src/backend/shared/src/utils/validation.ts
Owners: @backend-team, @shared-libraries-team

Add public-samples/marketplace-8l5lv5/src/backend/user-service/package.json
  src/backend/user-service/package.json
Owners: @dependency-management-team
