Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/workspace/CollaborationTools.tsx
  src/web/src/components/workspace/CollaborationTools.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/workspace/FileExplorer.tsx
  src/web/src/components/workspace/FileExplorer.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/components/workspace/JupyterNotebook.tsx
  src/web/src/components/workspace/JupyterNotebook.tsx
Owners: @frontend-team, @ui-component-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useJobs.ts
  src/web/src/hooks/useJobs.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useMessages.ts
  src/web/src/hooks/useMessages.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useProfile.ts
  src/web/src/hooks/useProfile.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useToast.ts
  src/web/src/hooks/useToast.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/hooks/useWorkspace.ts
  src/web/src/hooks/useWorkspace.ts
Owners: @frontend-team, @frontend-architecture-team

Add public-samples/marketplace-8l5lv5/src/web/src/lib/api.ts
  src/web/src/lib/api.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/lib/auth.ts
  src/web/src/lib/auth.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/lib/axios.ts
  src/web/src/lib/axios.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/lib/validation.ts
  src/web/src/lib/validation.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/lib/websocket.ts
  src/web/src/lib/websocket.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @frontend-team, @state-management-team

Add public-samples/marketplace-8l5lv5/src/web/src/store/slices/authSlice.ts
  src/web/src/store/slices/authSlice.ts
Owners: @frontend-team, @state-management-team

Add public-samples/marketplace-8l5lv5/src/web/src/store/slices/jobsSlice.ts
  src/web/src/store/slices/jobsSlice.ts
Owners: @frontend-team, @state-management-team

Add public-samples/marketplace-8l5lv5/src/web/src/store/slices/messagesSlice.ts
  src/web/src/store/slices/messagesSlice.ts
Owners: @frontend-team, @state-management-team

Add public-samples/marketplace-8l5lv5/src/web/src/store/slices/profileSlice.ts
  src/web/src/store/slices/profileSlice.ts
Owners: @frontend-team, @state-management-team

Add public-samples/marketplace-8l5lv5/src/web/src/styles/globals.css
  src/web/src/styles/globals.css
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/styles/tailwind.css
  src/web/src/styles/tailwind.css
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/types/auth.ts
  src/web/src/types/auth.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/types/job.ts
  src/web/src/types/job.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/types/message.ts
  src/web/src/types/message.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/types/profile.ts
  src/web/src/types/profile.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/types/workspace.ts
  src/web/src/types/workspace.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/utils/date.ts
  src/web/src/utils/date.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/utils/format.ts
  src/web/src/utils/format.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/utils/storage.ts
  src/web/src/utils/storage.ts
Owners: @frontend-team

Add public-samples/marketplace-8l5lv5/src/web/src/utils/validation.ts
  src/web/src/utils/validation.ts
Owners: @frontend-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team
