Repository qasimsalam/marketplace-8l5lv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-architect, @backend-team, @shared-libraries-team, @api-gateway-team, @user-service-team, @job-service-team, @payment-service-team, @security-team, @ai-team, @ml-engineers, @collaboration-team, @db-team, @frontend-team, @ui-component-team, @frontend-architecture-team, @state-management-team, @mobile-team, @ios-developers, @android-developers, @devops-team, @infrastructure-team, @monitoring-team, @ci-cd-team, @containerization-team, @kubernetes-team, @dependency-management-team, @auth-team, @qa-team

.github/CODEOWNERS:

# This file defines ownership of different parts of the codebase and
# automatically assigns relevant reviewers to pull requests.

# Default owners for everything in the repository
# Will be assigned for review on any PR that doesn't match a more specific rule
* @project-lead @tech-architect

# Backend shared libraries
src/backend/shared/** @backend-team @shared-libraries-team

# API Gateway service
src/backend/api-gateway/** @backend-team @api-gateway-team 

# User management service
src/backend/user-service/** @backend-team @user-service-team

# Job posting, matching and proposal service
src/backend/job-service/** @backend-team @job-service-team

# Payment processing service (with additional security oversight)
src/backend/payment-service/** @backend-team @payment-service-team @security-team

# AI and machine learning service
src/backend/ai-service/** @backend-team @ai-team @ml-engineers

# Real-time collaboration service
src/backend/collaboration-service/** @backend-team @collaboration-team

# Database migration scripts and schemas
src/backend/db/** @backend-team @db-team

# Web frontend application
src/web/** @frontend-team

# UI component library for web frontend
src/web/src/components/** @frontend-team @ui-component-team

# React hooks for web frontend
src/web/src/hooks/** @frontend-team @frontend-architecture-team

# Redux state management for web frontend
src/web/src/store/** @frontend-team @state-management-team

# iOS mobile application
src/ios/** @mobile-team @ios-developers

# Android mobile application
src/android/** @mobile-team @android-developers

# Infrastructure as code and deployment configurations
infrastructure/** @devops-team @infrastructure-team

# Security infrastructure configurations
infrastructure/security/** @devops-team @security-team

# Monitoring and observability configurations
infrastructure/monitoring/** @devops-team @monitoring-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @ci-cd-team

# GitHub-specific configurations and templates
.github/** @devops-team @project-lead

# SQL files across the repository
**/*.sql @backend-team @db-team

# Docker configuration files across the repository
**/Dockerfile* @devops-team @containerization-team

# Kubernetes configuration files across the repository
**/k8s/** @devops-team @kubernetes-team

# Package dependencies across the repository
**/package.json @dependency-management-team

# Security-related code and configurations across the repository
**/security/** @security-team

# Authentication and authorization code across the repository
**/auth/** @auth-team @security-team

# Test files across the repository
**/tests/** @qa-team

# Test files for React components and utilities
**/__tests__/** @qa-team

Add public-samples/marketplace-8l5lv5/src/android/src/store/slices/messagesSlice.ts
  src/android/src/store/slices/messagesSlice.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/store/slices/profileSlice.ts
  src/android/src/store/slices/profileSlice.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/styles/colors.ts
  src/android/src/styles/colors.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/styles/fonts.ts
  src/android/src/styles/fonts.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/styles/layout.ts
  src/android/src/styles/layout.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/styles/theme.ts
  src/android/src/styles/theme.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/styles/typography.ts
  src/android/src/styles/typography.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/types/auth.types.ts
  src/android/src/types/auth.types.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/types/job.types.ts
  src/android/src/types/job.types.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/types/message.types.ts
  src/android/src/types/message.types.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/types/profile.types.ts
  src/android/src/types/profile.types.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/types/workspace.types.ts
  src/android/src/types/workspace.types.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/biometrics.ts
  src/android/src/utils/biometrics.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/date.ts
  src/android/src/utils/date.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/dimensions.ts
  src/android/src/utils/dimensions.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/format.ts
  src/android/src/utils/format.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/keychain.ts
  src/android/src/utils/keychain.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/permissions.ts
  src/android/src/utils/permissions.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/responsive.ts
  src/android/src/utils/responsive.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/android/src/utils/validation.ts
  src/android/src/utils/validation.ts
Owners: @mobile-team, @android-developers

Add public-samples/marketplace-8l5lv5/src/backend/.env.example
  src/backend/.env.example
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @containerization-team

Add public-samples/marketplace-8l5lv5/src/backend/README.md
  src/backend/README.md
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/package.json
  src/backend/package.json
Owners: @dependency-management-team

Add public-samples/marketplace-8l5lv5/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-lead, @tech-architect

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/Dockerfile
  src/backend/ai-service/Dockerfile
Owners: @devops-team, @containerization-team

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/pyproject.toml
  src/backend/ai-service/pyproject.toml
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/config.py
  src/backend/ai-service/src/config.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/main.py
  src/backend/ai-service/src/main.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/api/routes.py
  src/backend/ai-service/src/api/routes.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/models/embedding.py
  src/backend/ai-service/src/models/embedding.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/models/recommendation.py
  src/backend/ai-service/src/models/recommendation.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/services/elasticsearch_service.py
  src/backend/ai-service/src/services/elasticsearch_service.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/services/openai_service.py
  src/backend/ai-service/src/services/openai_service.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/src/utils/vector_utils.py
  src/backend/ai-service/src/utils/vector_utils.py
Owners: @backend-team, @ai-team, @ml-engineers

Add public-samples/marketplace-8l5lv5/src/backend/ai-service/tests/test_embeddings.py
  src/backend/ai-service/tests/test_embeddings.py
Owners: @qa-team
